aiohttp==3.11.12
pydantic_core==2.27.2
propcache==0.2.1
huggingface-hub==0.28.1
frozenlist==1.5.0
peft==0.14.0
datasets==3.3.1
flash_attn==2.7.4.post1
wandb==0.19.6
accelerate==1.4.0
aiohappyeyeballs==2.4.6
widgetsnbextension==4.0.13
aiosignal==1.3.2
einops==0.8.1
tokenizers==0.21.0
GitPython==3.1.44
pfzy==0.3.4
comm==0.2.2
smmap==5.0.2
pydantic==2.10.6
safetensors==0.5.2
annotated-types==0.7.0
gitdb==4.0.12
charset-normalizer==3.4.1
transformers==4.49.0
xxhash==3.5.0
docker-pycreds==0.4.0
tf_keras==2.18.0
requests==2.32.3
pyarrow==19.0.0
dill==0.3.8
typing_extensions==4.12.2
multidict==6.1.0
inquirerpy==0.3.4
urllib3==2.3.0
ipywidgets==8.1.5
regex==2024.11.6
async-timeout==5.0.1
sentry-sdk==2.22.0
jupyterlab_widgets==3.0.13
yarl==1.18.3
tqdm==4.67.1
setproctitle==1.3.4
multiprocess==0.70.16
pyinotify==0.9.6
sos==4.7.2
docker==5.0.3
distro==1.7.0
grpcio==1.30.2
kiwisolver==1.3.2
google-pasta==0.2.0
ufoLib2==0.13.1
packaging==21.3
iotop==0.6
Werkzeug==2.0.2
pipx==1.0.0
netifaces==0.11.0
jedi==0.18.0
webencodings==0.5.1
pycryptodomex==3.11.0
tmuxp==1.9.2
livereload==2.6.3
pyasn1-modules==0.2.1
ipython_genutils==0.2.0
bottle==0.12.19
pyserial==3.5
attrs==21.2.0
pytz==2022.1
pyasn1==0.4.8
absl-py==2.1.0
lz4==3.1.3+dfsg
influxdb==5.3.1
ctop==1.0.0
urllib3==1.26.5
zope.interface==5.4.0
decorator==4.4.2
nest-asyncio==1.5.4
mccabe==0.6.1
pycparser==2.21
future==0.18.2
Pillow==9.0.1
virtualenv==20.13.0+ds
cffi==1.15.0
pexpect==4.8.0
filelock==3.6.0
wrapt==1.13.3
Brotli==1.0.9
jax==0.4.30
MarkupSafe==2.0.1
jupyter-client==7.1.2
fsspec==2024.3.1
keyring==23.5.0
py==1.10.0
importlib-metadata==4.6.4
distlib==0.3.4
pip==22.0.2
unattended-upgrades==0.1
pyzmq==22.3.0
PyJWT==2.3.0
dbus-python==1.2.18
idna==3.3
websocket-client==1.2.3
wadllib==1.3.6
SecretStorage==3.3.1
Twisted==22.1.0
incremental==21.3.0
typing_extensions==4.9.0
mkdocs==1.1.2
PyYAML==5.4.1
colorama==0.4.4
wcwidth==0.2.5
optree==0.13.1
defusedxml==0.7.1
pystache==0.6.0
appdirs==1.4.4
threadpoolctl==3.1.0
scipy==1.8.0
ply==3.11
jeepney==0.7.1
more-itertools==8.10.0
tornado==6.1
parso==0.8.1
chardet==4.0.0
pandas==1.3.5
scikit-learn==0.23.2
h5py.-debian-h5py-serial==3.6.0
tensorflow==2.18.0
prompt-toolkit==3.0.28
httplib2==0.20.2
cycler==0.11.0
keras==3.6.0
argcomplete==1.8.1
psutil==5.9.0
ipython==7.31.1
jsonpatch==1.32
icdiff==2.0.4
cryptography==3.4.8
pickleshare==0.7.5
blinker==1.4
numpy==1.21.5
ssh-import-id==5.11
wheel==0.37.1
setuptools==59.6.0
pyflakes==2.4.0
six==1.16.0
triton==3.1.0
python-magic==0.4.24
launchpadlib==1.10.16
PyGObject==3.42.1
configobj==5.0.6
ml-dtypes==0.5.0
pysmi==0.3.2
protobuf==4.21.12
lxml==4.8.0
msgpack==1.0.3
constantly==15.1.0
pyOpenSSL==21.0.0
gast==0.5.2
bcrypt==3.2.0
rich==11.2.0
traitlets==5.1.1
Automat==20.2.0
soupsieve==2.3.1
opt-einsum==3.3.0
html5lib==1.1
python-dateutil==2.8.1
Jinja2==3.0.3
namex==0.0.8
requests==2.25.1
jsonpointer==2.0
termcolor==1.1.0
oauthlib==3.2.0
bleach==4.1.0
entrypoints==0.4
jupyter-core==4.9.1
fonttools==4.29.1
jsonschema==3.2.0
ufw==0.36.1
libtmux==0.10.1
nvidia-ml-py==12.555.43
matplotlib-inline==0.1.3
matplotlib==3.5.1
distro-info==1.1+ubuntu0.2
pyrsistent==0.18.1
hyperlink==21.0.0
backcall==0.2.0
flatbuffers==1.12.1-git20200711.33e2d80-dfsg1-0.6
python-apt==2.4.0+ubuntu4
h5py==3.6.0
service-identity==18.1.0
commonmark==0.9.1
Markdown==3.3.6
tensorboard==2.18.0
pyparsing==2.4.7
certifi==2020.6.20
jaxlib==0.4.30
command-not-found==0.3
platformdirs==2.5.1
lazr.restfulclient==0.14.4
Glances==3.2.4.2
joblib==0.17.0
PyHamcrest==2.0.2
sympy==1.12
ptyprocess==0.7.0
cloud-init==24.4
beniget==0.4.1
lazr.uri==1.0.6
beautifulsoup4==4.10.0
mpmath==0.0.0
userpath==1.8.0
Babel==2.8.0
flake8==4.0.1
networkx==2.4
kaptan==0.5.12
fs==2.4.12
pysnmp==4.4.12
astunparse==1.6.3
ipykernel==6.7.0
click==8.0.3
zipp==1.0.0
pythran==0.10.0
torch==2.5.1
pycodestyle==2.8.0
Pygments==2.11.2
torchvision==0.20.1
unicodedata2==14.0.0
olefile==0.46
